/* Footer.css */
.footer {
    background-color: #b8b8b8;
    color: rgb(18, 18, 18);
    text-align: center;
    padding: 10px 0;
    width: 100%;
    font-size: 1.2rem;
    position: fixed; 
    bottom: 0;
    left: 0;
    z-index: 1000; 
    max-height: 50px;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px
  }
  
  .contact-info {
    text-align: left;
    margin-left: 20px; 
    margin-top: -20px;
  }

  .footer-raft{
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid rgb(26, 25, 25);
    border-radius: 5px;
}
  